* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 350px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fccd3f;
  width: 100%;
  height: 100px;
  padding: 20px;
}

.main__header p {
  font-size: 20px;
  font-weight: bold;
}

.search-bar__container {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  position: relative;
  top: -10px;
  justify-content: space-between;
  width: 85%;
  padding: 15px 20px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
}

.search-bar p {
  opacity: 0.2;
}

.fa-search {
  opacity: 0.2;
}

.day-recomended {
  padding: 20px;
}

.day-recomended > p {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
  opacity: 0.9;
}

.day-recomended img {
  width: 35%;
}
.day-recomended > div {
  display: flex;
}

.book-infomations {
  margin: 0px 20px;
}

.day_of_book__title {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 10px;
}

.day_of_book__author {
  font-size: 15px;
  opacity: 0.2;
  font-weight: bold;
  margin-bottom: 10px;
}

.stars__container .fas {
  color: #fccd3f;
}

.stars__container {
  margin-bottom: 10px;
}

.stars__container i:last-child {
  color: #ededed;
}

.day_of_book__tags {
  display: flex;
}

.day_of_book__tags > div {
  margin-right: 10px;
  background-color: #f7f7f7;
  font-weight: bold;
  opacity: 0.8;
  padding: 8px;
  font-size: 14px;
}

.day_of_book__btn__container {
  display: flex;
  justify-content: space-between;
}

.circle__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fccd3f;
  background-color: #fccd3f;
  border-radius: 50%;
}

.day_of_book__btn {
  border-radius: 5px;
  background-color: black;
  color: #fff;
  width: 110px;
  height: 40px;
  padding: 0px 20px;
  margin-left: 30px;
}

.top_adventures__container {
  padding: 20px 0px 20px 20px;
}

.sub i {
  font-size: 1px;
}

.sub {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

ul {
  display: flex;
  overflow: hidden;
}

.top_adventures_book {
  height: 100px;
  width: 75px;
  border-radius: 10px;
  border: 1px solid oldlace;
}

li {
  margin-right: 20px;
}

.top_adventures__container > p {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 15px;
}

.popular_authors__container {
  padding: 0px 20px 20px 20px;
}

.popular_authors__container > p {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.popular_authors__infomation {
  margin-top: 30px;
  display: flex;
}

.popular_authors__img {
  height: 180px;
  width: 130px;
  border-radius: 10px;
  border: 1px solid oldlace;
  object-fit: cover;
  margin-right: 20px;
}

.popular_authors__text p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin: 2px 0px 15px 0px;
}

.popular_authors__text p:nth-child(2) {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.2;
}
